/* styles below are from Alan Smith's D3 chart used in the example 
http://bl.ocks.org/alansmithy/e984477a741bc56db5a5 */
svg {
  width: 500px; 
  height: 500px;
}
button {
  float: left;
}
line {
  stroke: #ddd;
  shape-rendering: crispEdges;
}
text {
  text-anchor: middle;
}
circle {
  fill: orange;
  stroke: orange;
  fill-opacity: 0.5;
}
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}
.axis path  {
  fill: none;
}
.axis text {
  font-size: 0.7em;
  fill: #555;
  font-family: sans-serif;
}